#alert-overlay {
  position: fixed;
  display: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}

#alert-overlay.show-alert {
  display: block;
  overflow: auto;
}

.custom-alert {
  overflow: auto;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  width: 500px;
  height: auto;
  min-height: 246px;
  border-radius: 2px;
  border: 2px solid #ccc;
  background-color: #fff;
  text-align: center;
}

.alert-icon {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 10px solid #eee;
  font-size: 200px;
  color: #eee;
  line-height: 200px;
  margin-top: 20px;
}

.alert-message {
  margin-top: -100px;
  padding: 0px 15px;
  color: #666;
  margin-bottom: 50px;
  text-align: left;
}

.alert-buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.alert-buttons button {
  margin-left: 10px;
}