.tab-pane {
  font-size: 1.2em;
}
.nav-tabs {
  border-bottom: 1px solid #337ab7;
}
.nav-tabs > li > a > .highlight {
  display: block;
  position: absolute;
  width: calc(100% + 2px);
  height: 0px;
  bottom: -1px;
  left: -1px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #337ab7;
  border-bottom: 0px;
  z-index: -1;
  transition: height 0.3s;
  -moz-transition: height 0.3s;
  -webkit-transition: height 3s cubic-bezier(.62,.11,.69,1.58);
  -o-transition: height 0.3s;
}

.nav-tabs > li.active > a > .highlight {
  height: calc(100% + 2px);
  border-bottom: 1px solid #fff;
}

.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #fff;
  color: #337ab7;
}

.nav-tabs > li.active > a {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #fff;
  color: #337ab7;
}

.nav-tabs > li > a:hover {
  background-color: rgba(51, 122, 183, 0.8);
  color: #fff;
}