.nav-tabs > li > a > .highlight {
	display: block;
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	top: 5px;
	right: 5px;
	background-color: #337ab7;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.nav-tabs > li.active > a > .highlight {
	opacity: 1;
}

.nav-tabs > li.active > a {
  color: #fff;
  background-color: transparent;
}