.page-note {
	background-color: rgba(255, 204, 51, 0.5);
	text-align: center;
	padding: 10px 0;
	position: fixed;
  bottom: 0;
  width: calc(100% - 30px);
}

.page-note.above-page-footer {
	position: absolute;
	bottom: 120px;
}

#btn-joinus {
	width: 30%;
}